*.suo
*.user
*.sqlite
_ReSharper.*
bin
obj
packages
v16
.vs
*.dbmdl
*.jfm
*.log
src/OpenAI.ChatGpt/appsettings.Staging.json
src/OpenAI.ChatGpt/appsettings.Production.json
*.Staging.json
*.Production.json
.idea
.fake
.vscode/launch.json
.vscode/tasks.json
